@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-container {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    border: solid 2px rgb(101, 101, 101);
    /* padding: theme("spacing.6"); */
    box-shadow: theme("boxShadow.xl");
  }
  .make-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn {
    --tw-shadow: 3px -4px 0px 0px rgba(125, 125, 125, 0.21) inset;
    --tw-shadow-colored: inset 3px -4px 0px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    background-color: theme("colors.white");
    border: 2px solid rgb(113, 113, 113);
    border-radius: 0.5rem;
    font-size: 0.8rem;
  }
}

* {
  box-sizing: border-box;
}


